body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(208, 58%, 86%);
}
.set{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.set-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    
}
.card1{
    background-color: rgb(175, 211, 243);
    border: 1px solid #c8ddf0;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 370px;
    padding: 20px 10px;
    margin: 10px;
    background-image: url(img/rex1.jpeg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    color: white;
}
.card2{
    background-color: rgb(175, 211, 243);
    border: 1px solid #c8ddf0;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 370px;
    padding: 20px 10px;
    margin: 10px;
    background-image: url(img/rex2.jpeg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    color: white;
}
.card3{
    background-color: rgb(175, 211, 243);
    border: 1px solid #c8ddf0;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 370px;
    padding: 20px 10px;
    margin: 10px;
    background-image: url(img/rex3.jpeg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    color: white;
}
img{
    width: 170px;
    height: 150px;
}
button{
    background-color: rgb(219, 51, 79);
    color: aliceblue;
    border: none;
    padding: 10px 18px;
    border-radius: 40px;
}
p{
    font-size: 17px;
}
h1{
    color: rgb(146, 96, 154);
}