
.navbar ul{
    list-style-type: none;
    background-color: rgb(254, 252, 252);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 710px;
    border-radius: 20px;
 }
.navbar a{
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
 }
 .we{
   color: black;
 }
.navbar li{
    float: left;
 }
h1{
   color: blue;
}
span{
   color: orange;
}
.btn{
   display: flex;
   gap: 20px;
}
.btn-1, .btn-2, .btn-nav{
   margin: 8px;
   padding: 8px 16px;
   color: white;
   display: inline-block;
   border-radius: 5px;
   font-size: 17px;
   text-decoration: none;
   border: 1px solid black;
}
.btn-nav{
   background-color: blue;
   display: inline-block;
   color: white;
}
.btn-1{
   background-color: blue;
   color: white;
}
.btn-2{
   background-color: white;
   color: blue;
   
}
.txt-content{
   padding: 30px;
   margin: 0px;
}
.content{
   display: flex;
   border-radius: 4px;
   background-color: white;
   width: 670px;
   height: 380px;
   padding: 20px;
}
.img-content{
   padding: 20px;
   margin: 0px;
}
img{
   height: 350px;
   width: 250px;
   size-adjust: 30px;
   border: none;
   border-radius: 20px;
}
.assgn-con{
   padding: 20px;
   margin: 40px;
   border: none;
   border-radius: 10px;
   background-color: white;
   width: 820px;
}
.assgn-card{
   padding: 20px;
   margin: 40px;
   border: 1px solid rgb(247, 237, 237);
   border-radius: 20px;
   background-color: white;
   width: 690px;
   height: 480px;
}